html, body {
    padding: 0px;
    margin: auto;
}

html {
    background-color: #4F5F75;
}

body {
    width: 800px;
    background-color: #FFFFFF;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    background-color: #065EFE;
    border-bottom: 7px solid #0153E7;
    color: #FFFFFF;
    padding: 20px;
}

h2, h3, h4 {
    margin-left: 10px;
    color: #4F5F75;
}

h3 {
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    margin-left: 40px;
    margin-right: 40px;
}

p {
    margin-left: 40px;
    margin-right: 40px;
}

ul {
    margin-left: 20px;
}

a {
    color: #065EFE;
}
