*
{
  font-weight: 100;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    background-color: #ededed;
    font-family: 'Lato', Tahoma, Geneva, sans-serif;
}

div#content {
    width: 800px;
    min-height: 100%;
    margin: 0px auto;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

h1 {
    background-color: #767676;
    border-bottom: 2px solid black;
    color: #FFFFFF;
    padding: 20px;
    margin: 0px;
}

h2, h3, h4 {
    margin-left: 20px;
    color: #767676;
}

h3 {
    margin-left: 40px;
    margin-right: 40px;
}

h4 {
    margin-left: 60px;
    margin-right: 60px;
}

p {
    margin-left: 60px;
    margin-right: 60px;
}

ul {
    margin-left: 20px;
}

a {
    color: #767676;
}
